body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1f17;
  color: #fff;
}

.login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #123c2b;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.login-box input,
button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

button {
  background: #ffc107;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.topo {
  background: #0f5132;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
}

.menu {
  width: 220px;
  background: #0a3622;
  padding: 15px;
}

.menu li {
  cursor: pointer;
  padding: 10px;
}

.menu li:hover {
  background: #146c43;
}

.conteudo {
  flex: 1;
  padding: 20px;
}

.painel {
  background: #123c2b;
  padding: 20px;
  border-radius: 6px;
}

.hidden {
  display: none;
}
